<app-divider>
    Modal Component:
</app-divider>

<button class="ui button" (click)="onClick()">Open Modal.</button>

<app-modal 
(close)="onClick()"
*ngIf="modalOpen">
<header>This is a Header.</header>
THIS IS SUPER REUSABLE MODAL!!!
<p>yeah!!!</p>
<!-- <ng-container modalFooter> 
    <button class="ui button" (click)="onClick()">Close Me!</button>
</ng-container> -->
<!-- <div modalFooter> 
    <button class="ui button" (click)="onClick()">Close Me!</button>
</div> -->
</app-modal>

<app-divider>
    Accordion Component:
</app-divider>

<app-accordion 
*ngFor="let item of items" 
[title]="item.title" 
[content]="item.content">
</app-accordion>
